<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.EmailDao">
    <insert id="insert" parameterType="Emailtmp">
        INSERT INTO emailtmp (email, token)
        VALUES (#{email}, #{token})
    </insert>
    <delete id="delete" parameterType="int">
        DELETE FROM emailtmp
        WHERE emailtmp_id = #{emailtmp_id}
    </delete>
    <select id="select" parameterType="String">
        SELECT emailtmp_id AS emailtmpId, email, token, due
        FROM email
        WHERE email = #{email}
    </select>
</mapper>