<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.BucketDao">
        <!--버킷리스트 추가-->
        <insert id="insertBucket" parameterType="Bucket">
            INSERT INTO bucket (board_id, user_id, done)
            VALUES (#{boardId}, #{userId}, 1)
        </insert>

        <!--사용자의 버킷리스트 조회-->
        <select id="selectBucketByUserId" parameterType="String" resultType="Bucket">
            SELECT *
            FROM bucket
            WHERE user_id = #{userId}
            ORDER BY bucket_id DESC
        </select>
        <!--버킷아이디로 버킷 조회-->
        <select id="selectBucketByBucketId" parameterType="Long">
            SELECT *
            FROM bucket
            WHERE bucket_id = #{bucketId}
        </select>

        <!--버킷리스트 삭제-->
        <delete id="deleteBucket">
            DELETE FROM bucket
            WHERE bucket_id = #{bucketId} AND user_id = #{userId}
        </delete>
        <!--버킷리스트 삭제 at main-->
        <delete id="deleteByBoardId">
            DELETE FROM bucket
            WHERE board_id = #{boardId} AND user_id=#{userId}
        </delete>

        <!--0 : 그냥 좋아요, 1 : 버킷리스트 추가, 2 : 버킷리스트 이행-->
        <!--버킷리스트 이행 / 완료 상태 변경-->
        <update id="completeBucket">
            UPDATE bucket
            SET done = 2,
            done_date = NOW()
            WHERE bucket_id = #{bucketId}
        </update>

        <!--버킷리스트 통계-->
        <select id="countByUserId" resultType="int">
            SELECT COUNT(*)
            FROM bucket
            WHERE user_id = #{userId}
        </select>

        <select id="countDoneByUserId" resultType="int">
            SELECT COUNT(*)
            FROM bucket
            WHERE user_id = #{userId} AND done = 2
        </select>

        <!--버킷 갯수-->
        <select id="countByBoardId" parameterType="Long" resultType="int">
            SELECT COUNT(*)
            FROM bucket
            WHERE board_id = #{boardId} AND done >= 1
        </select>
    </mapper>