<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.CrewDao">
    <select id="select" parameterType="long" resultType="Crew">
        SELECT  crew_id AS crewId,
                user_id AS userId,
                guild_id AS guildId,
                status
        FROM    crew
        WHERE   crew_id = #{crewId}
    </select>
    <insert id="insert" parameterType="Crew" keyProperty="crewId" useGeneratedKeys="true">
        INSERT INTO crew (user_id, guild_id, status) VALUES
        (#{userId}, #{guildId}, #{status})
    </insert>
    <!--모임장이 본인 제외한 인원을 보고 싶을 때-->
    <select id="myCrews" parameterType="Crew" resultType="Crew">
        SELECT  crew_id AS crewId,
                user_id AS userId,
                guild_id AS guildId,
                status
        FROM    crew
        WHERE   guild_id = #{guildId} AND user_id != #{userId} AND status = 0
    </select>
    <select id="selectByGuildIdAndUserId" parameterType="Crew" resultType="Crew">
        SELECT  crew_id AS crewId,
                user_id AS userId,
                guild_id AS guildId,
                status
        FROM    crew
        WHERE   guild_id = #{guildId} AND user_id = #{userId} AND status = 0
        ORDER BY join_date DESC
    </select>
    <delete id="delete" parameterType="Crew">
        DELETE FROM crew
        WHERE guild_id = #{guildId} AND user_id = #{userId}
    </delete>
    <update id="update" parameterType="Crew">
        UPDATE  crew
        SET     status = #{status}
        WHERE   crew_id = #{crewId}
    </update>
    <select id="search" parameterType="Crew" resultType="Crew">
        SELECT  crew_id AS crewId,
                user_id AS userId,
                guild_id AS guildId,
                status
        FROM crew
        <where>
            <if test="guildId != null">
                guild_id = #{guildId}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
        </where>
    </select>
</mapper>