<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.EmailDao">
    <insert id="insert" parameterType="Email" keyProperty="emailId" useGeneratedKeys="true">
        INSERT INTO email (address, token, due)
        VALUES (#{address}, #{token}, #{due})
    </insert>
    <delete id="delete" parameterType="int">
        DELETE FROM email
        WHERE email_id = #{emailId}
    </delete>
    <select id="select" parameterType="String" resultType="Email">
        SELECT email_id AS emailId, address, token, due, verified
        FROM email
        WHERE address = #{address}
    </select>
    <update id="update" parameterType="Email">
        UPDATE email
        SET due = #{due},
            verified = true
        WHERE email_id = #{emailId}
    </update>
</mapper>