<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.FollowDao">

    <insert id="insert" parameterType="Follow">
        INSERT INTO follow (follower_id, following_id)
        VALUES (#{followerId}, #{followingId})
    </insert>


    <select id="selectFollowingUserIds" resultType="string">
        SELECT following_id
        FROM follow
        WHERE follower_id = #{userId}
    </select>
    <select id="selectOne" parameterType="Follow" resultType="Follow">
        SELECT  f.follow_id AS followId,
                f.follower_id AS followerId,
                u1.user_name AS followerName,
                f.following_id AS followingId,
                u2.user_name AS followingName,
                f.created_at AS createdAt
        FROM follow f
        JOIN user u1 ON f.follower_id = u1.user_id
        JOIN user u2 ON f.following_id = u2.user_id
        WHERE f.follower_id = #{followerId}
        AND f.following_id = #{followingId}
    </select>

    <delete id="delete" parameterType="Follow">
        DELETE FROM follow
        WHERE follower_id = #{followerId} AND following_id = #{followingId}
    </delete>

    <!-- 서로 팔로우 함 -->
    <select id="selectMutualFollow" parameterType="String" resultType="Follow">
        SELECT  f1.follow_id AS followId,
                f1.follower_id AS followerId,
                u1.user_name AS followerName,
                f1.following_id AS followingId,
                u2.user_name AS followingName,
                f1.created_at AS createdAt
        FROM follow f1
        JOIN follow f2
        ON f1.follower_id = f2.following_id
        AND f1.following_id = f2.follower_id
        JOIN user u1 ON f1.follower_id = u1.user_id
        JOIN user u2 ON f1.following_id = u2.user_id
        WHERE f1.follower_id = #{userId}
    </select>

    <!-- 나만 팔로우 함 -->
    <select id="selectOnlyMe" parameterType="String" resultType="Follow">
        SELECT  f1.follow_id AS followId,
                f1.follower_id AS followerId,
                u1.user_name AS followerName,
                f1.following_id AS followingId,
                u2.user_name AS followingName,
                f1.created_at AS createdAt
        FROM follow f1
        LEFT JOIN follow f2
        ON f2.follower_id = f1.following_id AND f2.following_id = #{userId}
        JOIN user u1 ON f1.follower_id = u1.user_id
        JOIN user u2 ON f1.following_id = u2.user_id
        WHERE f1.follower_id = #{userId}
        AND f2.follower_id IS NULL
    </select>

    <!-- 상대만 팔로우 함 -->
    <select id="selectOnlyYou" parameterType="String" resultType="Follow">
        SELECT  f1.follow_id AS followId,
                f1.follower_id AS followerId,
                u1.user_name AS followerName,
                f1.following_id AS followingId,
                u2.user_name AS followingName,
                f1.created_at AS createdAt
        FROM follow f1
        LEFT JOIN follow f2
        ON f2.follower_id = #{userId} AND f2.following_id = f1.follower_id
        JOIN user u1 ON f1.follower_id = u1.user_id
        JOIN user u2 ON f1.following_id = u2.user_id
        WHERE f1.following_id = #{userId}
        AND f2.follower_id IS NULL
    </select>

</mapper>
